.top__container {     
    padding: 77px 160px 43px 160px; 
}
.top__section {
    display: flex;
    justify-content: space-between;

    .search__section {
        display: flex;
        gap: 15px;
        height: 70px;
        padding: 20px 0 17px;
        background: #F6F7F9;
        padding: 19px 21px;
        border-radius: 20px;
        align-self: center;
    }
    .info__section {
        display: flex;
        flex-direction: column;
        padding: 31px 0 11px;
        gap: 16px;
        button {
            font-size: 14px;
            font-weight: bold
        }
        .text {
            font-size: 12px;
        }
    }
}
.btn__section {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 114px 0 101px;
}