.itemDetail_category {
    margin: 0 auto;
  >.itemDetail_category_title{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
  }
  span {
    font-weight: 600;
    font-size:20px;
    letter-spacing:-1.5px;
  }

  span:nth-child(2) {
    font-size:14px;
  }
}

.itemSizeinfo_layout {
  padding-top:2%;
  height: auto;
  display: flex;
}
.item_review_height {
  height: 200px;
  margin-top: 2%;
}

.itemSizeinfo_img {
  width: 40%;
  display: inline-block;
}

.itemSizeinfo_option {
  width: 60%;
  display: inline-block;
  padding:20px 8%;

  .itemSizeinfo_option_title{
    font-weight:800;
    h5{
      font-size:17px;
      line-height:20px;
    }
    p{font-size:22px;}
    .star-wrap{
      display: inline-flex;
      align-items: flex-end;
    }
    .star-wrap p {
      font-size:12px;
      color:#363636;
      display:inline-block;margin-left:3px;}
  }

  .itemSizeinfo_option_price {
    margin-top:10px;
    display:flex;
    align-items:flex-end;
    span{
      margin-right:5px;
      color:#afafaf;
      text-decoration: line-through;
      font-weight:400;
      font-size:16px;
    }
    h3{
      margin-right:5px;
    }
    h4{
      color:#EB0046;font-size:1px;
    }
  }
  ul{
    margin-top:10px;
  }
  li:last-child {margin-top:20px;}
  li {
    display:inline-flex;
    align-items:flex-end;
    width:100%;
    margin-top:10px;
    span {
      font-size:12px;
      margin-right:10px;
      font-weight:300;
    }
    p{
      font-weight:normal;
      font-size:14px;
    }
    .itemSizeinfo_option_color{
      width:100px;
      height:120px;
      border:1px solid rgba(197, 197, 197, 0.5);
      border-radius:5px;
      display:flex;
      justify-content:center;
      flex-direction: column;
      align-items: center;
      margin-right:10px;
      >span{
        width:50px;
        height:50px;
        border-radius:50%;
        display:block;
        margin:10px 0;
      }
      p {
        color:rgba(54, 54, 54, 0.5);
        font-size:14px;
        margin-top:10px;
      }
    }
    .itemSizeinfo_option_color.select{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border:1px solid #C5C5C5;
      p {color:#363636;}
    }
  }

}
.swiper_slide{
  text-align: center;
}
.ItemDetailInfo {
  text-align: center;
  &.div{
    padding-top: 100;
  }
}
.ItemSizeInfo{
  width: 850px;
  margin:0 auto;
  padding:5%
}


.itemDetail_review{
  width: 100%;
  margin: 0 auto;
  hr{
    margin-bottom: 15px;
  }
}
.itemDetail_review_title{
  padding:20px 0 20px 0;
}
.itemDetail_review_star_border{
  margin-bottom:15px;
  border:1px solid rgba(197, 197, 197, 0.5);

}
.itemDetail_review_star{
  padding: 10px 0 10px 0
}
.itemDetail_review_info{
  width: 60%;
  // display: inline-block;
  height: 50%;
  div:first-child{
    height: 100%;
    max-height: 150px;
    padding:10px;
  }
  li{
    margin-bottom: 10px;
    em:first-child{
      font-weight: 600;
    }
    em:last-child{
      margin-right: 20px;
    }
  }
  em:last-child{
    margin-left: 10px;
  }
}
.itemDetail_review_info_bottom{
 font-size: medium;
 color:#777373;
 
}
